/* Color Palette */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-light-beige: #f5f0e1; /* Light Beige */
  --color-beige: #ebdccb;
  --color-primary: #d4a017;
  --color-green: #6b8e23;
  --color-dark-brown: #352320;
  --color-grey: #333;
}

::-webkit-scrollbar {
  display: none;
}
